__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.*
.DS_Store
*.swp
*.swo
.vscode/
.idea/
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.log

# Pytest
.cache/

# Jupyter
.ipynb_checkpoints/

# Secrets
.env

